/* popup */
#top {
    position:fixed; right:50px; bottom:50px;
    width:34px; height:34px;
}
#top img {width:100%;}
/* all layout */
header,
main .visual,
main>.service,
main .bnr_bg .bnr,
main .board,
main .info,
main .news,
footer {width:1152px; margin:0 auto;}
/* header */
header {}
/* header-h top */
header #h_top {height:48px; overflow:hidden;}
header #h_top .left {float:left;}
header #h_top .left h1 {
    float:left; 
    width:110px; height:28px; padding-top:10px;
}
header #h_top .left h1 a {}
header #h_top .left h1 a img {width:100%;}
header #h_top .left nav {float:left;}
header #h_top .left nav ul {}
header #h_top .left nav ul li {float:left; margin-left:20px;}
header #h_top .left nav ul li a {
    line-height:48px; letter-spacing:-0.02em;}
header #h_top .right {float:right;}
header #h_top .right li {float:left; margin-left:20px;}
header #h_top .right li:first-child {margin-left:0;}
header #h_top .right li a {
    line-height:48px; letter-spacing:-0.02em;
}
/* header-h btm */
header #h_btm {height:119px;}
header #h_btm h1 {width:150px; height:28px; float:left; margin-top:45px;}
header #h_btm h1 a {}
header #h_btm h1 a img {width:100%;}
header #h_btm #search_frm {
    float:left;
    margin:36px 0 0 230px;
    border:2px solid #1E6CB3;
    width:369px; height:46px;   
    padding:10px 20px 0 ;
}
header #h_btm #search_frm fieldset {
    border:0;
}
header #h_btm #search_frm fieldset legend {
    display:none;
}
header #h_btm #search_frm fieldset input {
    float:left; 
    width:calc(100% - 20px);
}
header #h_btm #search_frm fieldset input::placeholder {
    letter-spacing:-0.02em; color:#1E6CB3;
}

header #h_btm #search_frm fieldset #search_btn {
    float:right;
    border:0; background:none;
    width:20px; height:20px; 
    cursor:pointer;
}
header #h_btm #search_frm fieldset #search_btn img {
    width:100%;
}
header #h_btm .right {
    float:right; margin-top:13px;
}
header #h_btm .right #lang_frm {
    text-align:right;
    margin-bottom:10px;
}
header #h_btm .right #lang_frm fieldset {
    border:none;
}
header #h_btm .right #lang_frm fieldset legend {
    display:none;
}
header #h_btm .right #lang_frm fieldset select {
    font-size:0.833rem; letter-spacing:-0.02em;
    margin-right:10px; width:91px; padding:3px 0;
    border:1px solid #1E6CB3;
} 
header #h_btm .right #lang_frm fieldset select option {
    font-size:0.833rem; letter-spacing:-0.02em;
    
}
header #h_btm .right #lang_frm fieldset #lang_btn { 
    width:30px; height:29px;
    background-color:#1E6CB3; border:0; color:#fff; 
    cursor:pointer;
    font-size:-0.833rem; letter-spacing:-0.02em;
}
header #h_btm .right .weather {
}
header #h_btm .right .weather .current_weather {margin-bottom:10px;}
header #h_btm .right .weather .current_weather em {
    font-size:2.074rem; font-weight:500; letter-spacing:-0.02em;
}
header #h_btm .right .weather .current_dust {
    font-size:0.833rem; letter-spacing:-0.02em;
}
/* main */
main {}
/* main-1 1광고배너 */
main .visual {height:350px; overflow:hidden;}
main .visual .left {
    width:770px; height:350px;
    float:left;
    position:relative;/* 겹쳐지는부모 기준이 되려고 다른 속성을 안 넣음 */
}
main .visual .left img {
    width:100%;
    
}
main .visual .left .close {
    position:absolute;/* 겹치는대상 */
    bottom:10px; right:10px;
    padding:10px; background-color:#1E6CB3;
    border-radius:5px;
    color:#fff; letter-spacing:-0.02em; font-weight:500;
}
main .visual .right {width:360px; float:right;}
main .visual .right .covid {
    width:360px; height:230px;
    display:block;
    position:relative;
    margin-bottom:10px;;
}
main .visual .right .covid span {position:absolute;
    color:#fff; letter-spacing:-0.02em; font-weight:500;
}
main .visual .right .covid .date {top:23px; right:21px;}
main .visual .right .covid .data {}
main .visual .right .covid .data1 {top: 82px; left:77px;}
main .visual .right .covid .data2 {top:82px; right:86px;}
main .visual .right .covid .data3 {top:157px; left:57px;}
main .visual .right .covid .data4 {top:157px; left:188px;}
main .visual .right .covid .data5 {top:157px; right:53px;}
main .visual .right .covid img {width:100%;}
main .visual .right .traffic {
    display:block; width:360px; height:110px;    
}
main .visual .right .traffic img {
    width:100%;
}
/* 주요서비스~새소식 제목 디자인그룹 */
/* main .service .title {}
main .service .title h2 {}
main .service .title .site {}
main .board .event .title {}
main .board .event .title h2 {}
main .board .event .title .more {}
main .board .festival .title {}
main .board .festival .title h2 {}
main .board .festival .title .more {}
main .board .service .title {}
main .board .service .title h2 {}
main .info .title {}
main .info .title h2 {}
main .news .title {}
main .news .title h2 {}
main .news .title .more {} */
/* 정리 */
main section .title {
    padding:50px 0 10px; border-bottom:1px solid #aaa;
    overflow:hidden;
}
main section .title h2 {
    float:left;
    font-size:1.44rem; font-weight:500; letter-spacing:-0.02em;
}
main section .title .more {
    float:right;
    display:block;
    letter-spacing:-0.02em;
    
}
main section .title .more .fa-square-plus {
    font-size:30px; color:#333;
}
main section .title .site {
    float:right;
    display:block;
    padding:8px; border:1px solid #aaa;
    letter-spacing:-0.02em;
}
/* main-1 2주요서비스 */
main .service {
}
main .service .title {
}
main .service .title h2 {}
main .service .title .site {}
main > .service .contents {
    padding:20px 0 50px;
    overflow:hidden;
}
main .service .contents a {
    float:left; width:9.09%;/* 100/11 */
    text-align:center;
}
main .service .contents a:last-child {margin-right:0;}
main .service .contents a img {
    width:60px; height:60px; margin-bottom:10px;
}
main .service .contents a span {
    display:block; text-align:center; font-size:0.833rem; letter-spacing:-0.02em;
}
/* main-1 3배너 */
main .bnr_bg {
    background-color:#EFF4F8;
    padding:50px 0;
}
main .bnr_bg .bnr {
    overflow:hidden;
}
main .bnr_bg .bnr a {
    width:384px; height:70px;
    float:left;}
main .bnr_bg .bnr a img {width:384px; height:70px;}
/* main-4 게시판 */
main .board {overflow:hidden;}
main .board > div .title {height:91px;}
/*main-4 게시판 그룹모음 */
main .board > div {float:left; width:calc(33.33% - 22px);}
main .board .event {}
main .board .festival {margin:0 22px;}
main .board .service {width:33.33%;}
/*main-4 게시판개별내용 */
main .board .contents a .administrative {color:#028AB6;}/* 행정 */
main .board .contents a .environment {color:#599100;}/* 환경 */
main .board .contents a .economy {color: #069363;}/* 경제 */
main .board .contents a .culture {color:#9B64D3;}/* 문화 */
main .board .contents a .housing {color:#C35C3C;}/* 주택 */
main .board .contents a .welfare {color:#D76000;}/* 복지 */
/* 컨텐츠 공통내용 */
main .board .contents {
    overflow:hidden;
    padding:15px 5px; 
}
main .board .contents a {display:block; overflow:hidden; margin-bottom:25px;}
main .board .contents a:last-child {margin-bottom:0;}
main .board .contents a span {letter-spacing:-0.02em;}
main .board .contents a span:first-child {float:left;}
/* 카테고리 */
main .board .contents a span:last-child {/* 글제목 */
    width:89%; 
    /* 말줄임표시 */
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    float:right;    
}
/* main .board .event {
}
main .board .event .title {}
main .board .event .title h2 {}
main .board .event .title .more {}
main .board .event .contents {}
main .board .event .contents a {}
main .board .event .contents a span {}
main .board .event .contents a .administrative {}
main .board .event .contents a .environment {}
main .board .event .contents a .welfare {}
main .board .event .contents a .housing {}
main .board .event .contents a .culture {}
main .board .festival {}
main .board .festival .title {}
main .board .festival .title h2 {}
main .board .festival .title .more {}
main .board .festival .contents {}
main .board .festival .contents a {}
main .board .festival .contents a span {}
main .board .festival .contents a .environment {}
main .board .festival .contents a .economy {}
main .board .festival .contents a .culture {}
main .board .service {
} */
/* 자주찾는서비스 */
main .board .service .title {
    border:0;}
main .board .service .title h2 {}
main .board .service .contents {
    overflow:hidden; background-color:#EFF4F8;
    padding:13px;
}
main .board .service .contents a {float:left; width:50%; text-align:left;}
main .board .service .contents > a:nth-last-child(2) {margin-bottom:0;}
/* main-1 5분야정보*/
main .info {}
main .info .title {}
main .info .title h2 {}
main .info .contents {
    padding:20px 40px; text-align:center; overflow:hidden;}
main .info .contents a {float:left; width:12.5%} /* 100/8 */
main .info .contents a img {
    margin-bottom:10px;
}
main .info .contents a span {
    display:block; letter-spacing:-0.02em;
}
/* main-1 6새소식*/
main .news {padding-bottom:25px;}
main .news .title {}
main .news .title h2 {}
main .news .title .more {}
main .news .contents {
    overflow:hidden; padding-top:15px;
}
main .news .contents a {
    margin-right:calc((100% - 270px * 4) / 3);
    margin-bottom:25px; float:left;
}
main .news .contents a:nth-child(4n) {margin-right:0;}
main .news .contents a img {
    width:270px; height:200px; margin-bottom:10px;
}
main .news .contents a span {
    display:block; letter-spacing:-0.06em; line-height:26px;
    width:270px; 
}

/* footer-f top*/
footer {}
footer .f_top {
    overflow:hidden; padding:20px 0;
    border:1px solid #aaa; border-left:0; border-right:0;}
footer .f_top .left {
    float:left; overflow:hidden;
}
footer .f_top .left a {letter-spacing:-0.02em; float:left; }
/* left-a 가상선택자(구분선용) */
footer .f_top .left a::after {
    /* 가상선택자의 필수속성1 */
    content:'';/* 빈문자열 */
    width:1px; height:10px; background:#000; display:inline-block;
    margin:0 10px;
}
footer .f_top .left a:last-child::after {display:none;}
footer .f_top .right {
    float:right; overflow:hidden;
}
footer .f_top .right a {
    float:left; margin-left:10px;
    width:25px; height:25px; display:inline-block; text-indent:-9999px;
    background:no-repeat; 
}
footer .f_top .right a:nth-child(1) {
    background-image:url(../images/icon_sns2/icon_set_sns_01.png);
}
footer .f_top .right a:nth-child(1):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_08.png);
}
footer .f_top .right a:nth-child(2) {
    /* background:color image repeat attachment position (색상 이미지 반복 고정 위치) ; */
    background-image:url(../images/icon_sns2/icon_set_sns_02.png);
}
footer .f_top .right a:nth-child(2):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_09.png);
}
footer .f_top .right a:nth-child(3) {
    background-image:url(../images/icon_sns2/icon_set_sns_03.png);
}
footer .f_top .right a:nth-child(3):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_10.png);
}
footer .f_top .right a:nth-child(4) {
    background-image:url(../images/icon_sns2/icon_set_sns_04.png);
}
footer .f_top .right a:nth-child(4):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_11.png);
}
footer .f_top .right a:nth-child(5) {
    background-image:url(../images/icon_sns2/icon_set_sns_05.png);
}
footer .f_top .right a:nth-child(5):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_12.png);
}
footer .f_top .right a:nth-child(6) {
    background-image:url(../images/icon_sns2/icon_set_sns_06.png);
}
footer .f_top .right a:nth-child(6):hover {
    background-image:url(../images/icon_sns2/icon_set_sns_13.png);
}
/* footer-f btm*/
footer .f_btm {
    overflow:hidden; padding:30px 0;
}
footer .f_btm .left {
    float:left; overflow:hidden;
}
footer .f_btm .left p {
    float:left; margin-right:10px; width:119px; height:45px;
}
footer .f_btm .left p img {width:100%;}
footer .f_btm .left address {
    margin-top:-6px;
    float:left; letter-spacing:-0.02em; line-height:30px;
}
footer .f_btm .left address a {}
footer .f_btm .right {
    float:right;
}
footer .f_btm .right a {display:inline-block;}
footer .f_btm .right a:nth-child(1) {width:79px; height:56px;}
footer .f_btm .right a:nth-child(2) {width:86px; height:56px; margin-left:10px;}
footer .f_btm .right a img {widtH:100%;}